@import 'mixin';
body {
  @include respond(md) {
    margin: auto;
  }
  @include respond(sm) {
    margin: auto;
  }
  @include respond(xs) {
    margin: auto;
  }
  font-family: 'Inter', sans-serif;
  max-width: 100%;
  margin: 0 40px;
  background-color: #EBF0FF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}