@import 'mixin';
.product-list {
  @include respond(sm) {
    margin-top: 0;
  }
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-list-heading {
  @include respond(md) {
    margin-top: 0;
  }
}

.select-wrapper {
  @include respond(sm) {
    align-self: flex-end;
  }
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  width: 100%;
  padding: 10px 40px 10px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Disables default arrow */
  cursor: pointer;
}

/* Creates a custom text arrow inside the container */
.select-wrapper::after {
  content: "\25BC"; /* Unicode character for a down arrow */
  font-size: 12px;
  color: #555;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%); /* Perfectly centers vertically */
  pointer-events: none;
}

.sort-select {
  border-radius: 5px;
  background-color: #F9FAFF;
  border: 1px solid #CBCBCB;

  
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #F6FBF8;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s;
}

.edit-product {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  color: #1976d2;
  border: 1px solid #1976d2;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  &:hover {
    background-color: #46B0E6;
    color: #fff;
    border: none;
  }
}

.quantity-btn {
  border: 1px solid #515151;
  font-size: 16px;
  margin: 0 5px;
  padding: 0 10px;
  font-weight: 400;
  color: #515151;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: transparent;
  }
}

.product-card h4 {
  @include heading4;
  margin-bottom: 10px;
}

.product-card p {
  @include paragraph;
  margin-bottom: 10px;
}

.product-card button {
  margin-top: auto;
}

.item-style {
  margin-right: 10px;
  font-weight: 700;
}

.cart-total {
  font-size: 20px;
  strong {
    margin-right: 10px;
  }
}